.navigation button .count {
    width: 18px;
    height: 18px;
    line-height: 15px;
    font-size: 11px;
    right: 11px;
    top: 4px;
    font-weight: 500;
    padding: 2px 3px;
}

.language-drop{
    border: none;
    font-weight: 600;
}
.language-drop:focus{
    border: none;
}